<StepManager as |w|>
  {{#each changesets as |changeset index|}}
    <w.Step @name={{index}}>
      <BsForm
        @onSubmit={{fn this.onSubmit}}
        @model={{changeset}}
      as |form|
      >
        {{#each-in changeset.data as |key|}}
          <form.element
            @controlType="text"
            @label={{str-capitalize (changeset-get changeset (concat key ".ui.label"))}}
            @property={{concat key ".value"}}
            as |el|>
            <el.control
              placeholder={{changeset-get changeset (concat key ".ui.placeholder")}}
            />
          </form.element>
        {{/each-in}}

        {{#let (eq index 0) as |isFirstForm|}}
          {{#unless isFirstForm}}
            <button
              class="btn btn-warning"
              {{on "click" (fn w.transition-to (sub index 1))}}
            >
              Go Back
            </button>
          {{/unless}}
        {{/let}}

        {{#let (eq index (sub changesets.length 1)) as |isLastForm|}}
          {{#unless isLastForm}}
            <button
              class="btn btn-success"
              {{on "click" (fn w.transition-to (add index 1))}}
            >
              Continue
            </button>
          {{/unless}}
          {{#if isLastForm}}
            <form.submitButton>Submit</form.submitButton>
          {{/if}}
        {{/let}}
      </BsForm>
    </w.Step>
  {{/each}}
</StepManager>
