<BsForm
  @onSubmit={{fn this.onSubmit}}
as |form|
>
  <StepManager as |w|>
    {{#each this.groupsList as |step index|}}
      <w.Step @name={{index}}>
        {{#each (sort-by "ui.position" (get groups step)) as |property|}}
          <form.group>
            <label class="control-label">{{str-capitalize property.ui.label}}</label>
            <input
              value={{or property.value property.defaultValue}}
              placeholder={{property.ui.placeholder}}
              class="form-control"
              oninput={{action (mut property.value) value="target.value"}}
              type="text"
            >
          </form.group>
        {{/each}}

        {{#unless (eq this.groupsList.firstObject step)}}
          <button  class="btn-warning" {{on "click" (fn w.transition-to (sub index 1))}}>
            Go Back
          </button>
        {{/unless}}

        {{#unless (eq this.groupsList.lastObject step)}}
          <button  class="btn-info" {{on "click" (fn w.transition-to (add index 1))}}>
            Continue
          </button>
        {{/unless}}
      </w.Step>
    {{/each}}
  </StepManager>
  {{yield}}
</BsForm>
