<BsModal
  @onSubmit={{this.submit}}
  @onHidden={{this.onHiddenModal}}
as |Modal|
>
  <Modal.header>
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-alert"></i>
      {{@title}}
    </h4>
  </Modal.header>
  <Modal.body>
    {{yield}}
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="danger">Cancel</BsButton>
    <BsButton @onClick={{action Modal.submit}} @type="success">Confirm</BsButton>
  </Modal.footer>
</BsModal>
